@()
@estilos = {
}
@scripts = {
    <script src="@routes.Assets.versioned("js/Estado/Estado.js")" type="text/javascript"></script>
    <script>
            jQuery(document).ready(function() {
                Estado.init();
            });
    </script>
}

@searchFilter = {
    <div class="row">
    @views.html.helpers.inputText("id", "id", "Id","", "", 12, 100)
    </div>
    <div class="row">
    @views.html.helpers.inputText("nome", "nome", "Nome", null,  "", 12, 100)
    </div>
    <div class="row">
    @views.html.helpers.inputText("sigla", "sigla", "Sigla", null,  "", 12, 100)
    </div>
}
@tableHeader = {
    <th>Id</th>
    <th>Nome</th>
    <th>Sigla</th>
    <th class="d-flex">Ações</th>
}
@buttonBar = {
    <button type="button" class="btn font-weight-bolder btn-success"onclick="Estado.abrirEdicao()">
        + Novo Estado
    </button>

}
@views.html.templateCRUD("Estado", buttonBar, tableHeader, searchFilter, estilos, scripts)