@import models.Plano

@(plano: Plano)
<div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
    <h5 class="card-title">About</h5>
    <p class="small fst-italic">
        Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus.</p>
    <h5 class="card-title">Profile Details</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Nome: </div>
        <div class="col-lg-9 col-md-8">@plano.getNome</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Endereço:</div>
        <div class="col-lg-9 col-md-8">@plano.getDescricao</div>
    </div>
</div>